body button{background-color: darkcyan;}



.stylen {
            background-color:darkgoldenrod;
            border-style: dotted;
            margin:50px;
            padding:50px;
            padding-top:100px;
            padding-bottom:100px;
            width:50px;
}


.Herz{
        background-color:darkred;
        padding:50px;
        padding-top:100px;
        padding-bottom:100px;
        color:white;
        width:10%;
}


.Karo{
        background-color:darkred;
        padding:50px;
        padding-top:100px;
        padding-bottom:100px;
        color:white;
        width:10%;
}



.Pik{
        background-color:black;
        padding:50px;
        padding-top:100px;
        padding-bottom:100px;
        color:white;
        width:10%;
}


.Kreuz{
        background-color:black;
        padding:50px;
        padding-top:100px;
        padding-bottom:100px;
        color:white;
        width:10%;
}

#Handkarten{
        width:100%;
        background-color: white;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
}


.direction{
        display: flex;
        flex-direction: row;
        align-items: center;
}

