body{
    background-color: black;
}
canvas{
    float: left;
}
div{
    background-color: white;
    color: darkblue;
    width: 300px;
    float: left;
}
#anleitung {
    width: 500px;
    float: right;
}
#Spielbeginn{
    color: white;
    background-color: blue;
    float: right;
}
h2{
    color: darkblue;
}
